*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
button{
    outline: none;
    
}
.body {
  font-family: sans-serif;
  font-style: 11px;
  color: #ffffff;
  position: relative;
}
.banner__wrapper {
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.301);
}
@keyframes showBunner{
    0%{
        right: -500px;
        opacity: 0;
    }
    100%{
        right: 0px;
        opacity: 1;
    }
}
.banner {
  position: absolute;
  left: 37%;
  top:0.5%;
  width: 320px;
  height: 480px;
  background-image: url(./assets/img/bg-1.jpg);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  font-family: sans-serif;
  overflow: hidden;
  animation: showBunner 3s ease;
}
.popup__open{
    position: absolute;
    background: #00b1f2;
    border-radius: 50%;
    padding: 5px;
    display: none;
    top: 50%;
    right: 100px;
}
.open__media{
    width: 12px;
    height: 12px;
}
.banner__popup{
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 1000;
    color: #000000;
    background: #ffff;
    width: 310px;
    height: 410px;
    padding: 17px;
    display: none;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.popup__close{
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
}
.close__media{
    width: 12px;
    height: 12px;
}
.popup__text{
    font-size: 9px;
}
.popup__video{
    width: 275px;
    height: 345px;
}
.popup__button{
    width: 130px;
    height: 16px;
    border-radius: 25px;
    background: #001e50;
    color: #ffff;
    font-size: 10px;
}
.banner__logo{
    margin-top: 25px;
}
.logo__media{
    width: 320px;
}
.banner__content{
    display: flex;
    padding: 30px;
    justify-content: space-between;
}
.banner__text{
    position: relative;
}
.banner__text > strong,span{
    position: relative;
    
}
.banner__text > strong{
    animation: showText 1s ease;
}
.banner__text > span{
    animation: showText 1s ease;
}
@keyframes showText{
    0%{
        top: 100px;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}
.banner__content-left{
    display: flex;
    flex-direction: column;
}
.banner__content-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}
.banner__text{
    font-size: 24px;
    margin-bottom: 17px;
}
.banner__btn{
    padding: 7px;
    background: #ffffff;
    font-size: 12px;
    width: 150px;
    border-radius: 20px;
}
.banner__micro{
    background: #00b1f2;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
@keyframes bigBtn {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);;
    }
}
.micro__media{
    height: 50px;
    width: 30px;
    fill: #ffffff;
}
.banner__arrow{
    background: #00b1f2;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.arrow__media{
    width: 15px;
    height: 20px;
}
.bunner__bubble{
    position: absolute;
    bottom: 100px;
    right: -20px;
    animation: showBubble 3s ease;
}
@keyframes showBubble{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.banner__subtext{
    position: absolute;
    font-size: 9px;
    bottom: 5px;
    left: 10px;
}